*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 50%;

}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

.menu ul li a{
    text-decoration: none;
    color: #D5D8DC;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    text-align: left;
}

.menu ul li a:hover{
    color: #17202A;
}


